bin/
obj/
.vs/
*.user
*.pdb

# Ignore models content but track the folder
models/*
!models/.gitkeep

# Ignore transcription files
transcription/

# Allow only exe in release
release/*
!release/VoskDemo.exe
!release/models/
release/models/*
!release/models/.gitkeep

# Docker
docker/*
!docker/Dockerfile
!docker/docker-compose.yml